
@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis quibusdam atque eveniet tempore rerum hic odio explicabo voluptate molestias, eos nostrum veritatis maxime rem optio minus amet expedita magni doloribus!</p>

<DatosPerfil info="1"></DatosPerfil>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae est, odio nihil voluptate accusantium vitae itaque vel unde necessitatibus facilis harum magni ipsum, fugit eveniet eius nostrum praesentium sit repellendus.</p>


@code {

        
}
