
<section>
    <img src="" />
    <div>
        <h1>@personaje.nombre</h1>
        <progress>@personaje.HP</progress>
        <progress>@personaje.MP</progress>
    </div>
</section>

@code {

    [Parameter]
    public AppBlazor.Data.Models.Personaje personaje { get; set; }

}
